* {
  box-sizing: border-box;
}

a {
  margin-top: 10px;
  padding: 10px;
}

body {
  background-color: #ffffff;
  flex: 1;
  vertical-align: bottom;
}

div {
  margin-bottom: 10px;
}

.content {
  margin: 20px 20px 75px 20px;

}

.fontRed {
  color: red;
}

.attachFile {
  margin: 16, 0, 16, 0px;
}

.fontAttachFile {
  color: red;
  text-decoration-line: underline;
  text-align: right;
  font-size: 14;
}

.inline {
  display: inline-block;
}